[Interface]
Address = {{ vpn_ip | default('10.80.0.101') }}
PrivateKey = {{ private.content | b64decode | trim }}
{% if wireguard_post_up %}
PostUp = {{ wireguard_post_up }}
{% endif %}
{% if wireguard_post_down %}
PostDown = {{ wireguard_post_down }}
{% endif %}
ListenPort = {{ wireguard_port }}

